.controller {
  display: grid;
  height: 200px;
  background-color: #ccc;
  grid-template-columns: 200px 1fr 200px;
}

.move {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    '. t .'
    'l . r'
    '. u .';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.move-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  border: solid 2px #000;
}

.move-button:hover {
  background-color: #aaa;
}

.move-button:active {
  scale: 0.9;
}

.shot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    't'
    'u';
  width: 100%;
  height: 100%;
  background-color: #666;
  border: solid 2px #f00;
  border-radius: 50%;
}

.item1 {
  width: 196px;
  height: 98px;
  grid-area: t;
  background-color: #000;
  border: solid 24.5px #fff8;
  border-bottom: none;
  border-radius: 98px 98px 0 0;
  opacity: 0.5;
}

.item1:hover {
  border-color: #f00;
}

.item1 > div {
  width: 147px;
  height: 73.5px;
  border-radius: 73.5px 73.5px 0 0;
  background-color: #000;
  pointer-events: none;
}

.item2 {
  width: 196px;
  height: 98px;
  grid-area: u;
  background-color: #000;
  border: solid 24.5px #fff8;
  border-top: none;
  border-radius: 0 0 98px 98px;
  opacity: 0.5;
}

.item2:hover {
  border-color: #f00;
}

.item2 > div {
  width: 147px;
  height: 73.5px;
  border-radius: 0 0 73.5px 73.5px;
  background-color: #000;
  pointer-events: none;
}

.item2 > div:hover {
  background-color: #f00;
  pointer-events: none;
}
