.roulette {
  width: 220px;
  height: 220px;
  border: solid #000 10px;
  position: relative;
  overflow: hidden;
}

.icons {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url('../../../public/images/icons.png');
  background-repeat: repeat-x;
  background-size: 1400%;
}
