.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.base {
  position: relative;
  scale: 2;
  z-index: 0;
}

.one {
  position: absolute;
  left: -50px;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: #00f;
  z-index: 1;
}

.two {
  position: absolute;
  top: -37.5px;
  left: -37.5px;
  width: 75px;
  height: 75px;
  background-color: #0f0;
  z-index: 2;
}

.four {
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  width: 25px;
  height: 25px;
  background-color: #008;
  z-index: 4;
}

.base2 {
  position: relative;
  scale: 0.5;
  z-index: 5;
}

.five {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 200px;
  height: 10px;
  background-color: #800;
  z-index: 5;
}

.six {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 150px;
  height: 10px;
  background-color: #0ff;
  z-index: 6;
}

.seven {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100px;
  height: 10px;
  background-color: #000;
  z-index: 7;
}
