.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-board,
.board {
  top: 0;
  left: 0;
  display: grid;
  position: absolute;
  overflow: hidden;
  transition: transform;
  transition-timing-function: initial;
}

.board {
  background-color: #888;
}

.cell {
  aspect-ratio: 1;
  width: 20vmin;
  border: solid 1px #000;
}

.yusha {
  /* position: absolute;
  top: calc(50% - 10vmin);
  left: calc(50% - 10vmin); */
  width: 20vmin;
  aspect-ratio: 1;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.pixel {
  width: 100%;
  height: 100%;
}
