.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.separate {
  display: grid;
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.base {
  position: relative;
  scale: 2;
  z-index: 0;
}

.one {
  position: absolute;
  left: -50px;
  top: -50px;
  width: 100px;
  height: 100px;
  background-color: #00f;
  z-index: 1;
}

.two {
  position: absolute;
  top: -37.5px;
  left: -37.5px;
  width: 75px;
  height: 75px;
  background-color: #0f0;
  z-index: 2;
}

.four {
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  width: 25px;
  height: 25px;
  background-color: #008;
  z-index: 4;
}

.base2 {
  position: relative;
  scale: 0.5;
  z-index: 5;
}

.five {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 200px;
  height: 10px;
  background-color: #800;
  z-index: 5;
}

.six {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 150px;
  height: 10px;
  background-color: #0ff;
  z-index: 6;
}

.seven {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100px;
  height: 10px;
  background-color: #000;
  z-index: 7;
}

.box {
  display: flex;
  width: 200px;
  height: 200px;
  border: solid 5px #000;
  position: relative;
  overflow: hidden;
}

.items {
  width: 190px;
  position: absolute;
  display: grid;
  overflow: hidden;
  animation: changing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.item {
  display: flex;
  width: 190px;
  height: 190px;
  overflow: hidden;
}

@keyframes changing {
  0% {
    top: 0;
  }

  1% {
    top: -10px;
  }

  9% {
    top: -180px;
  }

  11% {
    top: -200px;
  }

  19% {
    top: -370px;
  }

  21% {
    top: -390px;
  }

  29% {
    top: -560px;
  }

  31% {
    top: -580px;
  }

  39% {
    top: -750px;
  }

  41% {
    top: -770px;
  }

  49% {
    top: -940px;
  }

  100% {
    top: -2090px;
  }
}
